In [13]:
import pandas as pd

In [14]:
df_descarte = pd.read_excel("bases/Descarte Farma.XLSX")
df_fornecedor = pd.read_excel("bases/fornecedor farma.XLSX")

In [15]:
df_descarte.shape

(10736, 10)

In [16]:
df_fornecedor.columns

Index(['Texto breve material', 'Quantidade', 'Data de lançamento',
       'Nota acomp.mercadoria', 'Fornecedor', 'Pedido', 'Material'],
      dtype='object')

In [17]:
df_fornecedor = df_fornecedor.drop_duplicates(subset = "Material").copy()

In [18]:
df_fornecedor.shape

(3718, 7)

In [19]:
df_fornecedor_material = df_fornecedor[['Fornecedor','Material']].copy()

In [20]:
df_total = pd.merge(df_descarte, df_fornecedor_material, on = 'Material', how='left')

In [21]:
df_total.head()

,Centro,Tipo de movimento,Material,Texto breve material,qtd,Data de lançamento,Montante externo em MI,Valor,Referência,Doc.material,Fornecedor
0,601,905,4002950,20 BI C/10CAP,-1,2019-04-15,ABRIL,-32.20,NaN,4901478165,3593
1,603,905,4002950,20 BI C/10CAP,-4,2019-04-18,ABRIL,-126.14,NaN,4901522724,3593
2,603,905,4002951,20 BI C/5CAP,-12,2019-04-18,ABRIL,-268.30,NaN,4901522724,3593
3,605,905,4002951,20 BI C/5CAP,-1,2019-09-26,SETEMBRO,-25.48,NaN,4903980625,3593
4,607,905,4002951,20 BI C/5CAP,-2,2019-06-29,JUNHO,-42.59,NaN,4902607659,3593

In [22]:
df_total[df_total['Material'] == 4000160]

,Centro,Tipo de movimento,Material,Texto breve material,qtd,Data de lançamento,Montante externo em MI,Valor,Referência,Doc.material,Fornecedor
3782,605,905,4000160,DACTIL OB 30DRG,-1,2019-09-26,SETEMBRO,-13.12,NaN,4903980161,3593
3783,605,905,4000160,DACTIL OB 30DRG,-1,2019-09-26,SETEMBRO,-13.12,NaN,4903980304,3593
3784,606,905,4000160,DACTIL OB 30DRG,-1,2019-09-25,SETEMBRO,-13.13,NaN,4903968161,3593

## SALVANDO OS ARQUIVOS

In [23]:
writer = pd.ExcelWriter('resultado.xlsx', engine='xlsxwriter')

df_total.to_excel(writer, sheet_name = 'total', index = False)

In [24]:
writer.save()